.experience {
  margin-top: 3rem;
  border: solid 2px #f8f4c4;
  transition: 0.5s;
}

.experience:hover {
  border: solid 2px #47667b;
}

.title-experience {
  font-size: 1.8rem;
  font-weight: bold;
}

.subtitle-info-experience {
  margin-top: 1rem;
  font-size: 25px;
}

.info-experience p {
  margin-top: 0.8rem;
  font-size: 20px;
}

/* .info-experience:hover {
  color: #47667b;
} */
