.experience {
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: solid 2px #E3BCFF;
  transition: 0.5s;
}

.experience:hover {
  border: solid 2px #3b234a;
}

.title-experience {
  font-size: 1.8rem;
  font-weight: bold;
}

.subtitle-experience {
  margin-top: 1rem;
  font-size: 25px;
}

.info-experience p {
  margin-top: 0.8rem;
  font-size: 20px;
}

.subtitle-info-experience {
  text-decoration: underline;
  margin-top: 1rem;
}

.subtext-info-experience, .subtitle-info-experience {
  font-size: 15px;
}

.links-info-experience {
  text-decoration: underline;
}