.contact {
  /*  align-items: center;
  padding: 40px 100px; */
  background-color: #cebcfc;
  text-align: center;
  padding: 40px;
  /* width: 100%; */
}

.contact h3 {
  font-size: 1.2rem;
  /* text-align: center;
  margin: 100px 0 0; */
  margin: 0 65px;
}
.logotype-footer {
  padding-right: 7px;
  height: 30px;
}
.info-contact {
  text-align: center;
  margin: 3rem 65px 0;
  /* width: 1000px; */
  /* display: flex;
  justify-content: center; */
  /* padding: 0 30px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.social-media {
  /* display: grid;
  grid-template-columns: 1fr; */
  /* display: flex;
  justify-content: center; */
}

.contact a {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}