.formation {
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: solid 2px #E3BCFF;
  transition: 0.5s;
}

.formation:hover {
  border: solid 2px #3b234a;
}

.formation ul li {
  margin: 10px;
}

.title-formation {
  font-size: 1.8rem;
  font-weight: bold;
}

.info-formation {
  margin-top: 0.8rem;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
}

.info-formation ul li {
  margin: 1rem;
}