/* nav {
  background-color: #a5c3a7;
  
}

.nav {
  text-align: justify;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.links-nav {
  text-align: justify;
  display: flex;
  justify-content: center;
} */

nav {
  font-size: 30px;
  font-weight: bold;
  /* font-style: bold; */
  background-color: #a5c3a7;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav h2 {
  margin-right: 3rem;
} */

.links-nav{
  list-style-type: none;
  /* margin-right: 30px; */
  display: flex;
  /* justify-content: space-between; */

}

.links-nav:hover {
  background-color: #a5c3a7;
}

nav ul li {
  margin-right: 30px;
  font-size: 20px;
}

nav li {
  text-decoration: none;
}