.img-introduction {
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  /* margin: 0 0 0 30px; */
  /* padding-right: 30px; */
}

.info-introduction h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.info-introduction p{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.introduction {
  margin: 0 30px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  justify-content: center;
}

.logo-unit {
  height: 100px;
}