@import "./reset.css";
@import "./header.css";
@import "./introduction.css";
@import "./experience.css";
@import "./formation.css";
@import "./footer.css";

body {
  background-image: url(./../img/spectrum-gradient.png);
  color: #3b234a;
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  display: block;
}

main {
  margin: 65px;
}

a {
  text-decoration: none;
  color: #3b234a;
}